<div class="container">
  <a href="https://www.linkedin.com/in/carlistoliar/">My inkedin</a>
    <div style="text-align:center">
      <h1>
        Welcome to {{title}}!
      </h1>
    </div>
    <nav>
      <a href=""[routerLink]="['/movies']" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Movies</a>
      <a href=""[routerLink]="['/showtime']" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Show Times</a>
    </nav>
    <router-outlet></router-outlet>


  </div>
